[Desktop Entry]
Comment=Dark purple/black KDE Plasma theme for use with transparency or without
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;
Name=Mirage
X-KDE-PluginInfo-Author=Josh Freeno
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=freefreeno81@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Mirage
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/freefreeno/Mirage-KDE
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1312310,kns://plasma-themes.knsrc/api.kde-look.org/1312311,kns://icons.knsrc/api.kde-look.org/1312316,kns://wallpaper.knsrc/api.kde-look.org/1328330
