[Desktop Entry]
Name=Mirage
Comment=A dark and modern theme for Plasma 5
X-KDE-PluginInfo-Author=Josh Freeno
X-KDE-PluginInfo-Email=freefreeno81@gmail.com
X-KDE-PluginInfo-Name=Mirage
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0
