[Desktop Entry]
Name=Mirage
X-KDE-PluginInfo-Author=JoshFreeno
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=freefreeno81@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Mirage
X-KDE-PluginInfo-Version=1.0.0
